<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.dcwlt.pay.batch.mapper.PayCommonParamMapper">
    
    <resultMap type="com.dcits.dcwlt.pay.api.domain.dcep.config.PayCommonParam" id="PayCommonParamResult">
        <result property="id"    column="id"    />
        <result property="paramType"    column="param_type"    />
        <result property="paramKey"    column="param_key"    />
        <result property="paramValue"    column="param_value"    />
        <result property="paramDesc"    column="param_desc"    />
        <result property="paramStatus"    column="param_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPayCommonParamVo">
        select id, param_type, param_key, param_value, param_desc, param_status, create_time, update_time from pay_comm_param
    </sql>

    <select id="selectPayCommonParamList" parameterType="com.dcits.dcwlt.pay.api.domain.dcep.config.PayCommonParam" resultMap="PayCommonParamResult">
        <include refid="selectPayCommonParamVo"/>
        <where>  
            <if test="paramType != null  and paramType != ''"> and param_type = #{paramType}</if>
            <if test="paramKey != null  and paramKey != ''"> and param_key = #{paramKey}</if>
            <if test="paramValue != null  and paramValue != ''"> and param_value = #{paramValue}</if>
            <if test="paramDesc != null  and paramDesc != ''"> and param_desc = #{paramDesc}</if>
            <if test="paramStatus != null "> and param_status = #{paramStatus}</if>
        </where>
    </select>
    
    <select id="selectPayCommonParamById" parameterType="Long" resultMap="PayCommonParamResult">
        <include refid="selectPayCommonParamVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPayCommonParam" parameterType="com.dcits.dcwlt.pay.api.domain.dcep.config.PayCommonParam" useGeneratedKeys="true" keyProperty="id">
        insert into pay_comm_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paramType != null and paramType != ''">param_type,</if>
            <if test="paramKey != null and paramKey != ''">param_key,</if>
            <if test="paramValue != null">param_value,</if>
            <if test="paramDesc != null">param_desc,</if>
            <if test="paramStatus != null">param_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paramType != null and paramType != ''">#{paramType},</if>
            <if test="paramKey != null and paramKey != ''">#{paramKey},</if>
            <if test="paramValue != null">#{paramValue},</if>
            <if test="paramDesc != null">#{paramDesc},</if>
            <if test="paramStatus != null">#{paramStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePayCommonParam" parameterType="com.dcits.dcwlt.pay.api.domain.dcep.config.PayCommonParam">
        update pay_comm_param
        <trim prefix="SET" suffixOverrides=",">
            <if test="paramType != null and paramType != ''">param_type = #{paramType},</if>
            <if test="paramKey != null and paramKey != ''">param_key = #{paramKey},</if>
            <if test="paramValue != null">param_value = #{paramValue},</if>
            <if test="paramDesc != null">param_desc = #{paramDesc},</if>
            <if test="paramStatus != null">param_status = #{paramStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePayCommonParamById" parameterType="Long">
        delete from pay_comm_param where id = #{id}
    </delete>

    <delete id="deletePayCommonParamByIds" parameterType="String">
        delete from pay_comm_param where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>