<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.dcwlt.pay.batch.mapper.SettleTaskGroupExecMapper">

    <resultMap id="BaseResultMap" type="com.dcits.dcwlt.pay.api.model.SettleTaskGroupExecDO">
        <id column="settledate" jdbcType="VARCHAR" property="settleDate" />
        <id column="taskgroupcode" jdbcType="VARCHAR" property="taskGroupCode" />
        <id column="batchid" jdbcType="VARCHAR" property="batchId" />
        <result column="taskgroupname" jdbcType="VARCHAR" property="taskGroupName" />
        <result column="busicode" jdbcType="VARCHAR" property="busiCode" />
        <result column="busicodename" jdbcType="VARCHAR" property="busiCodeName" />
        <result column="execstate" jdbcType="VARCHAR" property="execState" />
        <result column="createtime" jdbcType="VARCHAR" property="createTime" />
        <result column="updatetime" jdbcType="VARCHAR" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
    settledate, taskgroupcode, batchid, taskgroupname, busicode, busicodename, execstate,
    createtime, updatetime
  </sql>
    <select id="select"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pay_comm_task_group_exec
        <where>
            <if test="taskGroupCode !=null and taskGroupCode !=''">
                and taskgroupcode = #{taskGroupCode,jdbcType=VARCHAR}
            </if>
            <if test="settleDate !=null and settleDate !=''">
                and settledate = #{settleDate,jdbcType=VARCHAR}
            </if>
            <if test="batchId !=null and batchId !=''">
                and batchid = #{batchId,jdbcType=VARCHAR}
            </if>
            <if test="busiCode !=null and busiCode !=''">
                and busicode = #{busiCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--任务执行信息表入库-->
    <insert id="insert" parameterType="com.dcits.dcwlt.pay.api.model.SettleTaskGroupExecDO">
        INSERT INTO PAY_COMM_TASK_GROUP_EXEC
        (SETTLEDATE, TASKGROUPCODE, TASKGROUPNAME, BUSICODE, BUSICODENAME, BATCHID,
        EXECSTATE, CREATETIME, UPDATETIME)
        values (#{settleDate}, #{taskGroupCode}, #{taskGroupName}, #{busiCode}
        , #{busiCodeName}, #{batchId}, #{execState}, #{createTime}, #{updateTime})
    </insert>

    <select id="queryTaskGroupExec"  resultType="com.dcits.dcwlt.pay.api.model.SettleTaskGroupExecDO">
        select SETTLEDATE settleDate,
        TASKGROUPCODE taskGroupCode,
        TASKGROUPNAME taskGroupName,
        BUSICODE  busiCode,
        BUSICODENAME busiCodeName,
        BATCHID batchId,
        EXECSTATE execState,
        CREATETIME createTime,
        UPDATETIME updateTime
        FROM PAY_COMM_TASK_GROUP_EXEC
        WHERE SETTLEDATE = #{settleDate} AND BATCHID = #{batchId} AND TASKGROUPCODE = #{taskGroupCode}
    </select>

    <update id="updateTaskGroupExecState">
        UPDATE PAY_COMM_TASK_GROUP_EXEC
        SET EXECSTATE = #{execState}, UPDATETIME = #{updateTime}
        WHERE SETTLEDATE = #{settleDate}
        AND    BATCHID = #{batchId}
        AND TASKGROUPCODE = #{taskGroupCode}
        <if test="execStateOld != null">
            AND EXECSTATE = #{execStateOld}
        </if>
    </update>

    <select id="queryTaskGroupExecFailure" resultType="com.dcits.dcwlt.pay.api.model.SettleTaskGroupExecDO">
        SELECT SETTLEDATE settleDate,
        TASKGROUPCODE taskGroupCode,
        TASKGROUPNAME taskGroupName,
        BUSICODE  busiCode,
        BUSICODENAME busiCodeName,
        BATCHID batchId,
        EXECSTATE execState,
        CREATETIME createTime,
        UPDATETIME updateTime
        FROM PAY_COMM_TASK_GROUP_EXEC
        WHERE SETTLEDATE = #{settleDate}
        AND (EXECSTATE = 'FAIL' OR EXECSTATE = 'EXPT')
    </select>

    <delete id="deleteTaskGroupByGroupId">
        delete from PAY_COMM_TASK_GROUP_EXEC where SETTLEDATE = #{settleDate} AND BATCHID = #{batchId} AND TASKGROUPCODE = #{taskGroupCode}
    </delete>
    
    
    
</mapper>