<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.dcwlt.pay.batch.mapper.SettleTaskExecMapper">

    <!--任务执行信息表入库-->
    <insert id="insert" parameterType="com.dcits.dcwlt.pay.api.model.SettleTaskExecDO">
        INSERT INTO PAY_COMM_TASK_EXEC
        (SETTLEDATE, TASKCODE, TASKNAME, TASKGROUPCODE,
        TASKGROUPNAME, BUSICODE, BUSICODENAME, BATCHID, TASKTYPE, TASKINDEX,
        TASKCLASSNAME, EXECPARAM, EXECSTATE, STARTTIME, ENDTIME)
        values (#{settleDate}, #{taskCode}, #{taskName}, #{taskGroupCode}, #{taskGroupName}, #{busiCode}
        , #{busiCodeName}, #{batchId}, #{taskType}, #{taskIndex}, #{taskClassName}, #{execParam}, #{execState}
        , #{startTime}, #{endTime})
    </insert>


    <select id="queryTaskExecByCode" resultType="com.dcits.dcwlt.pay.api.model.SettleTaskExecDO">
        SELECT SETTLEDATE, TASKCODE, TASKNAME, TASKGROUPCODE,
        TASKGROUPNAME, BUSICODE, BUSICODENAME, BATCHID, TASKTYPE, TASKINDEX,
        TASKCLASSNAME, EXECPARAM, EXECSTATE, STARTTIME, ENDTIME
        FROM PAY_COMM_TASK_EXEC
        WHERE SETTLEDATE = #{settleDate}
        AND TASKGROUPCODE = #{taskGroupCode}
        AND TASKCODE = #{taskCode}
        AND BATCHID = #{batchId}
    </select>

    <select id="queryTaskExecFailure" resultType="com.dcits.dcwlt.pay.api.model.SettleTaskExecDO">
        SELECT SETTLEDATE, TASKCODE, TASKNAME, TASKGROUPCODE,
        TASKGROUPNAME, BUSICODE, BUSICODENAME, BATCHID, TASKTYPE, TASKINDEX,
        TASKCLASSNAME, EXECPARAM, EXECSTATE, STARTTIME, ENDTIME
        FROM PAY_COMM_TASK_EXEC
        WHERE SETTLEDATE = #{settleDate}
        AND (EXECSTATE = 'FAIL' OR EXECSTATE = 'EXPT')
    </select>

    <select id="queryTaskExecListByCode" resultType="com.dcits.dcwlt.pay.api.model.SettleTaskExecDO">
        SELECT SETTLEDATE, TASKCODE, TASKNAME, TASKGROUPCODE,
        TASKGROUPNAME, BUSICODE, BUSICODENAME, BATCHID, TASKTYPE, TASKINDEX,
        TASKCLASSNAME, EXECPARAM, EXECSTATE, STARTTIME, ENDTIME
        FROM PAY_COMM_TASK_EXEC
        WHERE SETTLEDATE = #{settleDate}
        AND TASKGROUPCODE = #{taskGroupCode}
        AND BATCHID = #{batchId}
        ORDER BY TASKINDEX

    </select>

    <update id="updateTaskExecState" parameterType = "com.dcits.dcwlt.pay.api.model.SettleTaskExecDO">
        UPDATE PAY_COMM_TASK_EXEC
        SET EXECSTATE = #{execState}, STARTTIME = #{startTime}
        WHERE SETTLEDATE = #{settleDate}
        AND BATCHID = #{batchId}
        AND TASKGROUPCODE = #{taskGroupCode}
        AND TASKCODE = #{taskCode}
        AND EXECSTATE = #{execStateOld}
    </update>

    <update id="updateTaskExecDone" parameterType = "com.dcits.dcwlt.pay.api.model.SettleTaskExecDO">
        UPDATE PAY_COMM_TASK_EXEC
        SET EXECSTATE = #{execState}, ENDTIME = #{endTime}
        WHERE SETTLEDATE = #{settleDate}
        AND BATCHID = #{batchId}
        AND TASKGROUPCODE = #{taskGroupCode}
        AND TASKCODE = #{taskCode}
    </update>

    <delete id="deleteExecTaskByGroupId">
        delete from PAY_COMM_TASK_EXEC where SETTLEDATE = #{settleDate} AND BATCHID = #{batchId} AND TASKGROUPCODE = #{taskGroupCode}
    </delete>

</mapper>