<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.dcwlt.pay.online.mapper.EventConfigMapper" >

    <!-- 查询异常事件配置-->
    <select id="queryEventConfig" resultType="com.dcits.dcwlt.pay.api.domain.dcep.eventBatch.EventConfigDO">
		SELECT
			T.EXCEPTEVENTCODE,
			T.EXCEPTDEALMODE,
			T.EXCEPTEVENTTRXCODE,
			T.EXCEPTEVENTDEALMAXCOUNT,
			T.EXCEPTEVENTDEALTYPE,
			T.EXCEPTEVENTDEALINTERVALMIN,
			T.EXCEPTEVENTREMARK
		FROM PAY_COMM_EXCEPTEVENTCONFIG T
		WHERE T.EXCEPTEVENTCODE = #{exceptEventCode}

    </select>

    
    <!-- 查询异常事件配置-->
<!--    <select id="queryEventOne" resultType="com.cgb.pay.common.channel.event.msg.EventDealReqMsg">-->
<!--		SELECT-->
<!--			T.EXCEPTEVENTCODE as exceptEventCode,-->
<!--			T.EXCEPTEVENTSEQNO as exceptEventSeqNo,-->
<!--			T.EXCEPTEVENTCONTEXT as exceptEventContext-->
<!--		FROM ECNY_COMM_EXCEPTEVENTINFO T-->
<!--        WHERE T.EXCEPTEVENTCODE = #{exceptEventCode}-->
<!--	    AND T.EXCEPTEVENTSEQNO = #{exceptEventSeqNo}-->

<!--    </select>-->
    
    
</mapper>