<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.dcwlt.pay.online.mapper.IdempotentMapper">
    <!--操作流程表-->
    <insert id="insert" parameterType="com.dcits.dcwlt.pay.api.model.IdempotentDO">
        INSERT INTO pay_comm_idempotent(MSGID,MSGTP,SENDER,RECEIVER,SNDDTTM,DIRECT,HOSTNAME) VALUES (#{msgId},#{msgTp},#{sender},#{receiver},#{sndDtTm},#{direct},#{hostname})
    </insert>
</mapper>