<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.dcwlt.pay.online.mapper.PartyInfoMapper" >

    <!-- 新增报文登记信息 -->
    <insert id="insertParty">
        <if test="_databaseId == 'mysql'">
            INSERT INTO pay_comm_party(PARTYID,
            PARTYTYPE,
            PARTYNAME,
            PARTYALIAS,
            PARTYSTATUS,
            STATUS,
            CONTACT,
            TELEPHONE,
            MAIL,
            FAX,
            EFFECTDATE,
            INEFFECTIVEDATE,
            CHANGENUMBER,
            CHANGECIRCLETIMES,
            LASTUPDATE,
            LASTUPTIME
            )
            VALUE (
            #{partyID},
            #{partyType},
            #{partyName},
            #{partyAlias},
            #{partyStatus},
            #{status},
            #{contact},
            #{telephone},
            #{mail},
            #{fax},
            #{effectDate},
            #{inEffectiveDate},
            #{changeNumber},
            #{changeCircleTimes},
            #{lastUpDate},
            #{lastUpTime}
            )
        </if>
    </insert>

    <update id="updateParty">
        UPDATE pay_comm_party
        SET PARTYTYPE = #{partyType},
        PARTYNAME = #{partyName},
        PARTYALIAS = #{partyAlias},
        PARTYSTATUS = #{partyStatus},
        CONTACT = #{contact},
        TELEPHONE = #{telephone},
        MAIL = #{mail},
        FAX = #{fax},
        STATUS = #{status},
        EFFECTDATE = #{effectDate},
        INEFFECTIVEDATE = #{inEffectiveDate},
        CHANGENUMBER = #{changeNumber},
        CHANGECIRCLETIMES = #{changeCircleTimes},
        LASTUPDATE = #{lastUpDate},
        LASTUPTIME = #{lastUpTime}
        WHERE PARTYID = #{partyID}
    </update>

    <select id="queryParty" resultType="com.dcits.dcwlt.pay.api.model.PartyInfoDO">
        SELECT P.PARTYID partyID,
        P.PARTYTYPE partyType,
        P.PARTYNAME partyName,
        P.PARTYALIAS partyAlias,
        P.PARTYSTATUS partyStatus,
        P.STATUS status,
        P.CONTACT contact,
        P.TELEPHONE telephone,
        P.MAIL mail,
        P.FAX fax,
        P.EFFECTDATE effectDate,
        P.INEFFECTIVEDATE inEffectiveDate,
        P.CHANGENUMBER changeNumber,
        P.CHANGECIRCLETIMES changeCircleTimes,
        P.LASTUPDATE lastUpDate,
        P.LASTUPTIME lastUpTime
        FROM  pay_comm_party P
        <where>
            <if test="partyID != null and partyID != ''">
                P.PARTYID = #{partyID}
            </if>
        </where>
    </select>

    <select id="queryEffectiveParty" resultType="com.dcits.dcwlt.pay.api.model.PartyInfoDO">
        SELECT P.PARTYID partyID,
        P.PARTYTYPE partyType,
        P.PARTYNAME partyName,
        P.PARTYALIAS partyAlias,
        P.PARTYSTATUS partyStatus,
        P.STATUS status,
        P.CONTACT contact,
        P.TELEPHONE telephone,
        P.MAIL mail,
        P.FAX fax,
        P.EFFECTDATE effectDate,
        P.INEFFECTIVEDATE inEffectiveDate,
        P.CHANGENUMBER changeNumber,
        P.CHANGECIRCLETIMES changeCircleTimes,
        P.LASTUPDATE lastUpDate,
        P.LASTUPTIME lastUpTime
        FROM  pay_comm_party P
        <where>
            <if test="partyType != null">
                P.PARTYTYPE = #{partyType}
            </if>
            <if test="partyStatus != null">
                P.PARTYSTATUS = #{partyStatus}
            </if>
            <if test="status != null and status != ''">
                P.STATUS = #{status}
            </if>
            <if test="effectDate != null and effectDate != ''">
                P.EFFECTDATE = #{effectDate}
            </if>
        </where>
    </select>

    <select id="queryLoseEffectiveParty" resultType="com.dcits.dcwlt.pay.api.model.PartyInfoDO">
        SELECT P.PARTYID partyID,
        P.PARTYTYPE partyType,
        P.PARTYNAME partyName,
        P.PARTYALIAS partyAlias,
        P.PARTYSTATUS partyStatus,
        P.STATUS status,
        P.CONTACT contact,
        P.TELEPHONE telephone,
        P.MAIL mail,
        P.FAX fax,
        P.EFFECTDATE effectDate,
        P.INEFFECTIVEDATE inEffectiveDate,
        P.CHANGENUMBER changeNumber,
        P.CHANGECIRCLETIMES changeCircleTimes,
        P.LASTUPDATE lastUpDate,
        P.LASTUPTIME lastUpTime
        FROM  pay_comm_party P
        WHERE P.INEFFECTIVEDATE &lt; #{inEffectiveDate};
    </select>
</mapper>