<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.dcwlt.common.pay.sequence.mapper.SegAllocMapper">
	
	<resultMap id="segAllocResultMap" type="com.dcits.dcwlt.common.pay.sequence.entity.SegmentAllocatorEntity">
		<id column="BIZ_TAG" property="key" />
		<result column="MAX_ID" property="maxId" />
		<result column="STEP" property="step" />
		<result column="MAX_TOTAL" property="maxTotal" />
		<result column="INIT_ID" property="initId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>

    <select id="getLeafAlloc" resultMap="segAllocResultMap">
    	SELECT 
    		biz_tag, max_id, step, max_total, init_id, UPDATE_TIME 
    	FROM 
    		SEGMENT_ALLOCATOR 
    	WHERE biz_tag = #{tag} for update
    </select>
    
    <update id="updateMaxId">
    	UPDATE SEGMENT_ALLOCATOR SET max_id = #{maxId}, update_time=#{updateTime} WHERE biz_tag = #{key}
    </update>
    
    <update id="initMaxId">
    	UPDATE SEGMENT_ALLOCATOR SET max_id = init_id, update_time=#{updateTime} WHERE biz_tag = #{key}
    </update>    
    
    <select id="getAllTags" resultType="string">
    	SELECT biz_tag FROM SEGMENT_ALLOCATOR
    </select>
</mapper>