<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	<bean id="EcnyTradeConfig" class="com.dcits.dcwlt.pay.online.config.EcnyTradeConfig" init-method="init">
		<property name="mappings">
			<list>
				<value>dcep.225.001.01,Convert225RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.convert.ConvertReqDTO,Y</value>
				<value>dcep.401.001.01,FreeFrmt401RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.freefrmt.FreeFrmtDTO,Y</value>
				<value>dcep.221.001.01,Reconvert221RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.reconvert.ReconvertReqDTO,Y</value>
				<value>dcep.909.001.01,TxEndNtfcnt909RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.txendntfcnt.TxEndNtfcntReqDTO,N</value>
				<value>dcep.411.001.01,TxStsQry411RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.txstsqryreq.TxStsQryReqDTO,Y</value>
				<value>dcep.917.001.01,Party917RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.party.chng.FinCdChngNtfctnDTO,N</value>
				<value>dcep.931.001.01,PartyStatus931RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.party.trblntfctn.TrblNtfctnDTO,N</value>
				<value>dcep.915.001.01,authInfo915TradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.authinfo.AuthInfoReqDTO,N</value>
				<value>dcep.713.001.01,CapitalCheckClear713RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.clrsummrychk.ClrSummryChkDTO,N</value>
				<value>dcep.801.001.01,Dspt801RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.dspt.DsptReqDTO,Y</value>
				<value>dcep.433.001.01,BankAttAcctManage433RTradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.bankattachedmanagement.BankAttAcctReqDTO,Y</value>
				<value>dcep.711.001.01,ReconSummaryChk711TradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.summarychk.ReconSummaryChkDTO,N</value>
				<value>dcep.933.001.01,Login933STradeFlow,com.dcits.dcwlt.pay.api.domain.dcep.login.LoginReqDTO,N</value>
			</list>
		</property>
	</bean>
</beans>